<h4>Listado</h4>
<hr>
    <ul class="list-group">

      @for (character of characterList;
      track $index;
      let isLast = $last;
      let isFirst = $first;
      let isEven = $even) {
        <li class="list-group-item d-flex justify-content-between align-items-center"
            [ngClass]="{
              'list-group-item-dark':isFirst,
              'list-group-item-primary':isEven,

            }">
          <div>
            <span class="bg-info rounded-pill px-1 mx-1" >{{$index+1}}. </span>
            <span>{{character.name}}</span>  -
            <strong>Power: </strong>
            <span>{{character.power}}</span>
          </div>
          <button class="btn btn-danger"
                  (click)="onDeleteCharacter(character.id)">X</button>

        </li>
      }
    </ul>
