<!--


<header class=" mt-5 text-center text-success mb-5">
  <h1> App Components </h1>
</header>
<div class="container gradients rounded-2">
<div class="row">
  <div class="col-4">
    <div class="row"><app-counter></app-counter></div>
    <div class="row"><app-counter></app-counter></div>
    <div class="row"><app-counter></app-counter></div>

  </div>
  <div class="col-4">
    <app-heroes-hero></app-heroes-hero>

  </div>
  <div class="col-4">
    <app-heroes-list></app-heroes-list>
  </div>
</div>

</div> -->

<app-dbz-main-page></app-dbz-main-page>
